html, body{
    padding: 0;
    margin: 0;
 }

html {
    box-sizing: border-box;
    padding-bottom: 5.0rem;
}
   
*, *:before, *:after {
    box-sizing: inherit;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * 
    Utilities
* * * * * * * * * * * * * * * * * * * * * * * * * * */
.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   border: 0;
}

/* no break */
.nobr {
    white-space: nowrap;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * 
    Structure / General
* * * * * * * * * * * * * * * * * * * * * * * * * * */
body {
    width: 100%;
    background-color: black;
}

header {
    width: 100vw; /* Always span the full width of the viewport */
    background-image: url('/images/sunset.jpg');
    background-size: 100% auto; /* Width always fills, height scales naturally */
    background-position: center center; /* Keeps focus in the center horizontally */
    background-repeat: no-repeat;

    text-align: center;
    font-size: 74px;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
}

header a:link, header a:visited, header a:active, header a:hover {
    color: wheat;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

#container {
    width: 90%;
    margin: 35px auto;
    /* border: 2px solid black; */
    padding: 50px;
    background-color: black;
}

.group:after { 
    content: ""; 
    display: table; 
    clear: both; 
}


.float-left {
    float: left;
    width: 48%;
}

.float-right {
    float: right;
    width: 48%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * 
    Typography
* * * * * * * * * * * * * * * * * * * * * * * * * * */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
    color: white
}

p, figcaption, li, td {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    color: white;
}

p:first-child:first-letter {
    color: wheat;
    border: 2px solid black;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    /* adjust margin and padding here */
    float: left;
    margin-right: 18px;
    
  }

.title {
    font-family: 'Monaco';
    text-align: center;

    font-size: 74px;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.playfair-large {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
  

/* * * * * * * * * * * * * * * * * * * * * * * * * * * 
    Images
* * * * * * * * * * * * * * * * * * * * * * * * * * */
img {
    /* tells image to stay within parent container */
    width: 100%;
    display: block;
}
figure {
    margin: 2.5rem 0; /* 2 numbers, first is vertical, second is horizontal */
}
figcaption {
    margin-top: 1.0rem;
    font-size: 14px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * 
    Tables
* * * * * * * * * * * * * * * * * * * * * * * * * * */
table {
    margin-bottom: 1.5rem;
}
tr {
    padding: 0;
}
td {
    padding-right: 1.0rem;
    border-right: 1px solid black;
}
.last {
    padding-left: 1.0rem;
    border: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * 
    Page Specific
* * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Resume Page */
.download{
    margin: 1em 0;
    display: grid;
    place-items: center;
}

.download-link {
    text-align: center;
}

.download-link a:link, .download-link a:visited {
    color: blue;
    text-decoration: none;
}
.download-link a:active, .download-link a:hover {
    color: red;
    text-decoration: underline;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * 
    Menu
* * * * * * * * * * * * * * * * * * * * * * * * * * */

nav {
    background-color: snow;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.35);
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    width: 20%;
    border-right: 1px solid darkgray;
    display: grid;
    place-items: center;
}

li a:link, li a:visited {
    color: black;
    text-decoration: none;
}
li a:active, li a:hover {
    color: gray;
    text-decoration: underline;
}

a[href^="http"]::after
{
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}