html {
    box-sizing: border-box;
}
   
*, *:before, *:after {
    box-sizing: inherit;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * 
    Utilities
* * * * * * * * * * * * * * * * * * * * * * * * * * */
.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   border: 0;
}

/* no break */
.nobr {
    white-space: nowrap;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * 
    Structure / General
* * * * * * * * * * * * * * * * * * * * * * * * * * */
body {
    width: 100%;
    background-color: rgba(105,108,115,255);
}

header {
    width: 100vw; /* Always span the full width of the viewport */
    background-image: url('/images/sunset.jpg');
    background-size: 100% auto; /* Width always fills, height scales naturally */
    background-position: center center; /* Keeps focus in the center horizontally */
    background-repeat: no-repeat;
}

header a:link, header a:visited, header a:active, header a:hover {
    color: wheat;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 35px auto;
    /* centers content */
    border: 2px solid black;
    padding: 50px;
    background-color: white;
}

.group:after { 
    content: ""; 
    display: table; 
    clear: both; 
}


.float-left {
    float: left;
    width: 48%;
}

.float-right {
    float: right;
    width: 48%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * 
    Typography
* * * * * * * * * * * * * * * * * * * * * * * * * * */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

p, figcaption, li, td {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

.title {
    font-family: 'Monaco';
    text-align: center;

    font-size: 74px;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * 
    Images
* * * * * * * * * * * * * * * * * * * * * * * * * * */
img {
    /* tells image to stay within parent container */
    width: 100%;
    display: block;
}
figure {
    margin: 2.5rem 0; /* 2 numbers, first is vertical, second is horizontal */
}
figcaption {
    margin-top: 1.0rem;
    font-size: 14px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * 
    Tables
* * * * * * * * * * * * * * * * * * * * * * * * * * */
table {
    margin-bottom: 1.5rem;
}
tr {
    padding: 0;
}
td {
    padding-right: 1.0rem;
    border-right: 1px solid black;
}
.last {
    padding-left: 1.0rem;
    border: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * 
    Page Specific
* * * * * * * * * * * * * * * * * * * * * * * * * * */



/* * * * * * * * * * * * * * * * * * * * * * * * * * * 
    Menu
* * * * * * * * * * * * * * * * * * * * * * * * * * */

nav {
    background-color: snow;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.35);
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    /*  Set position here */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 7.5%;
    width: 20%;
    border-right: 1px solid darkgray;
}

li a:link, li a:visited {
    color: black;
    text-decoration: none;
}
li a:active, li a:hover {
    color: gray;
    text-decoration: underline;
}